{% extends 'base.html' %}
{% block content %}
<style>
.header{
    text-align: center;
}
</style>
<div class= "header">
    <h1> Facts about Coral</h1>
</div>
<p>Coral is a unique and diverse organism that forms the backbone of fragile marine ecosystems. Often mistaken for rocks or plants, coral is, in fact, a collection of tiny animals called polyps. These polyps secrete a calcium carbonate skeleton, which over time builds intricate structures known as coral reefs. Coral reefs are home to an extraordinary array of marine life, providing shelter, nurseries, and feeding grounds for countless species. They also play a vital role in protecting coastlines from erosion and storm damage. However, coral reefs are under threat from climate change, pollution, and human activities. Preserving and protecting these remarkable ecosystems is crucial for the health of our oceans and the survival of countless species that rely on the</p>
{% endblock %}