{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{coral.img}}" alt="{{coral.name}}" />
</div>
<div class="detail__name">
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
    
    </div>

    <h1 class="title">{{coral.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'coral_update' coral.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'coral_delete' coral.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
  <div class="detail__songs mb-5">
    <h3 class="title is-3">Traits</h3>
    <form class="mb-5" action="{% url 'trait_create' coral.pk %}" method="post">
      {% csrf_token %}
      <div class="field has-addons">
          <div class="control">
              <input
                  class="input"
                  type="text"
                  name="diet"
                  placeholder="diet"
                  required
              />
          </div>
          <div class="control">
              <input
                  class="input"
                  type="number"
                  name="toxicity_level"
                  placeholder="toxicity_level
                  min="1"
                  required
              />
          </div>
          <div class="control">
              <input
                  class="input"
                  type="number"
                  name="rareity"
                  placeholder="rareity"
                  min="1"
                  required
              />
          </div>
          <div class="control">
              <input class="button is-primary" type="submit" value="Add A Trait" />
          </div>
      </div>
  </form>
    {% for trait in coral.traits.all %}
    <div class="trait">
      <span>{{forloop.counter}}</span>
      <div><b>Diet:</b> {{ trait.diet }}</div>
      <div><b>Toxicity:</b> {{ trait.toxicity_level }}</div>
      <div><b>Rarity:</b> {{ trait.rareity }}</div>
      <br>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No traits Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
<!--  above about section  -->
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{coral.info}}</p>
    </div>
</div>

{% endblock %}